function Main.main 2
push constant 3
push constant 0
not
call Queue.new 2
pop local 0
push constant 6
push constant 0
call Queue.new 2
pop local 1
push local 0
push constant 1
call Queue.enqueue 2
pop temp 0
push local 0
push constant 2
call Queue.enqueue 2
pop temp 0
push local 0
push constant 3
call Queue.enqueue 2
pop temp 0
push local 0
push constant 4
call Queue.enqueue 2
pop temp 0
push local 0
push constant 5
call Queue.enqueue 2
pop temp 0
push local 0
call Queue.peek 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 0
call Queue.print 1
pop temp 0
push local 0
call Queue.dequeue 1
pop temp 0
push local 0
call Queue.dequeue 1
pop temp 0
push local 1
push constant 1
call Queue.enqueue 2
pop temp 0
push local 1
push constant 22
call Queue.enqueue 2
pop temp 0
push local 1
push constant 3
call Queue.enqueue 2
pop temp 0
push local 1
push constant 43
call Queue.enqueue 2
pop temp 0
push local 1
push constant 52
call Queue.enqueue 2
pop temp 0
push local 1
push constant 51
call Queue.enqueue 2
pop temp 0
push local 1
push constant 50
call Queue.enqueue 2
pop temp 0
push local 1
call Queue.print 1
pop temp 0
push local 1
call Queue.dequeue 1
pop temp 0
push local 1
call Queue.dequeue 1
pop temp 0
push local 1
call Queue.print 1
pop temp 0
push local 1
push constant 2
call Queue.enqueue 2
pop temp 0
push local 1
push constant 3
call Queue.enqueue 2
pop temp 0
push local 1
call Queue.print 1
pop temp 0
push local 0
call Queue.destroy 1
pop temp 0
push local 1
call Queue.clear 1
pop temp 0
push local 1
call Queue.print 1
pop temp 0
push local 1
call Queue.destroy 1
pop temp 0
push constant 0
return
