function Main.main 1
call List.new 0
pop local 0
push local 0
push constant 5
call List.insertFront 2
pop temp 0
push local 0
push constant 6
call List.insertFront 2
pop temp 0
push local 0
push constant 7
call List.insertFront 2
pop temp 0
push local 0
push constant 8
call List.insertFront 2
pop temp 0
push local 0
push constant 9
call List.insertFront 2
pop temp 0
push local 0
call List.print 1
pop temp 0
push local 0
push constant 1
call List.insertBack 2
pop temp 0
push local 0
push constant 2
call List.insertBack 2
pop temp 0
push local 0
push constant 3
call List.insertBack 2
pop temp 0
push local 0
push constant 4
call List.insertBack 2
pop temp 0
push local 0
push constant 5
call List.insertBack 2
pop temp 0
push local 0
call List.print 1
pop temp 0
push local 0
call List.clear 1
pop temp 0
push local 0
call List.print 1
pop temp 0
push local 0
call List.destroy 1
pop temp 0
push constant 0
return
