function Main.main 1
push constant 0
not
call PQueue.new 1
pop local 0
push local 0
push constant 2
call PQueue.enqueue 2
pop temp 0
push local 0
push constant 5
call PQueue.enqueue 2
pop temp 0
push local 0
push constant 3
call PQueue.enqueue 2
pop temp 0
push local 0
push constant 70
call PQueue.enqueue 2
pop temp 0
push local 0
push constant 20
call PQueue.enqueue 2
pop temp 0
push local 0
push constant 8
call PQueue.enqueue 2
pop temp 0
push local 0
push constant 4
call PQueue.enqueue 2
pop temp 0
push local 0
push constant 22
call PQueue.enqueue 2
pop temp 0
push local 0
call PQueue.print 1
pop temp 0
push local 0
call PQueue.dequeue 1
pop temp 0
push local 0
call PQueue.print 1
pop temp 0
push local 0
call PQueue.dequeue 1
pop temp 0
push local 0
call PQueue.print 1
pop temp 0
push local 0
call PQueue.dequeue 1
pop temp 0
push local 0
call PQueue.print 1
pop temp 0
push local 0
call PQueue.dequeue 1
pop temp 0
push local 0
call PQueue.destroy 1
pop temp 0
push constant 0
return
