function Main.main 1
call Set.new 0
pop local 0
push local 0
push constant 20
call Set.insert 2
pop temp 0
push local 0
push constant 30
call Set.insert 2
pop temp 0
push local 0
push constant 40
call Set.insert 2
pop temp 0
push local 0
push constant 50
call Set.insert 2
pop temp 0
push local 0
push constant 20
call Set.insert 2
pop temp 0
push local 0
call Set.print 1
pop temp 0
push local 0
push constant 40
call Set.delete 2
pop temp 0
push local 0
call Set.print 1
pop temp 0
push local 0
call Set.clear 1
pop temp 0
push local 0
call Set.print 1
pop temp 0
push local 0
call Set.destroy 1
pop temp 0
push constant 0
return
