function Main.main 1
call BST.new 0
pop local 0
push local 0
push constant 4
call BST.insert 2
pop temp 0
push local 0
push constant 5
call BST.insert 2
pop temp 0
push local 0
push constant 3
call BST.insert 2
pop temp 0
push local 0
push constant 2
call BST.insert 2
pop temp 0
push local 0
push constant 1
call BST.insert 2
pop temp 0
push local 0
push constant 12
call BST.insert 2
pop temp 0
push local 0
call BST.print 1
pop temp 0
push local 0
push constant 4
call BST.delete 2
pop temp 0
push local 0
call BST.print 1
pop temp 0
push local 0
push constant 3
call BST.delete 2
pop temp 0
push local 0
call BST.print 1
pop temp 0
push local 0
push constant 12
call BST.delete 2
pop temp 0
push local 0
call BST.print 1
pop temp 0
push local 0
call BST.clear 1
pop temp 0
push local 0
call BST.print 1
pop temp 0
push local 0
call BST.destroy 1
pop temp 0
push constant 0
return
